<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCE69uTzU6Xm6ZnCUEUFAb5CJ9HHriou1M</string>
	<key>GCM_SENDER_ID</key>
	<string>195650355363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wVertiZontalMediaApp</string>
	<key>PROJECT_ID</key>
	<string>vertizontal-media</string>
	<key>STORAGE_BUCKET</key>
	<string>vertizontal-media.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195650355363:ios:4eb8ee7e3e088515b83f16</string>
</dict>
</plist>